header {
    width: 100%; background-color: #fff;
    padding:10px 30px; box-sizing: border-box;
    border-bottom: 1px solid #eee;
}
#gnb {float: right;}
#gnb > a {text-decoration: none; margin:0 7px; display: inline-block; vertical-align: middle;
color: #333; position: relative; margin-top: 7px;}
#gnb > a > * {display: inline-block; vertical-align: middle;}
#gnb > a > span {margin-left: 5px;}
#gnb > a > img {border-radius: 5px;}
.new_badge {background-color: orangered; width: 10px; height: 10px; border-radius: 50%;
    display: inline-block; position: absolute; right: -3px; top: -2px;
}