/* left_menu.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
#left_nav { 
    width: 250px; padding-top:25px; 
    transition:margin 0.3s;
    position: fixed; top: 71px; left: 0;
    background-color: #fff;
    box-shadow: 2px 0 8px rgba(0,0,0,0.03);
    height:calc(100vh - 95px);
}
#left_nav.hide {
    margin-left: -250px;
}
.left_menu_btn {
    position: absolute; right: 0px; top: 0px;
    width: 30px; height: 30px; line-height: 30px;
    background-color: #fff; text-align: center;
    transition:right 0.3s; cursor: pointer;
}
.left_menu_btn i:first-child {display: inline-block;}
.left_menu_btn i:last-child {display: none;}

#left_nav.hide .left_menu_btn i:first-child {display: none;}
#left_nav.hide .left_menu_btn i:last-child {display: inline-block;}
#left_nav.hide .left_menu_btn {
    right: -30px; box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
#left_menu a {display: block; text-decoration: none;
    color: #939499; font-family: 'Outfit', sans-serif;
    padding-left: 30px; padding-top:15px; padding-bottom:15px;
}
#left_menu a * {display: inline-block; vertical-align: middle;}
#left_menu span {font-family: 'Outfit', sans-serif; margin-left: 10px;}
#left_menu .current a {color: #fe634d;}
#left_menu .sub a {margin-left: 15px; font-size: 14px; padding-top: 5px; padding-bottom: 5px;}

#left_menu > li {position: relative;}
#left_menu > li::before {
    content:"";
    display: inline-block; width: 16px; height: 80%; background-color: #fe634d;
    position: absolute; left: 0; top: 10%; border-radius: 10px; margin-left: -10px;
    display: none;
}
#left_menu > li.current::before {display: inline-block;}

#left_menu li i {display: inline-block; vertical-align: middle; width: 20px;}